@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=71F3C3F6-0C02-4CB3-927F-83BD78E62D16
save-exact=true
unsafe-perm=true
legacy-peer-deps=true
shamefully-hoist=true
strict-peer-dependencies=false