{"openapi":"3.0.1","info":{"title":"Node Vault API","version":"1.0.0"},"servers":[{"url":"https://api.nodevault.cloud","description":"production"}],"security":[],"tags":[{"name":"Account","description":"Account and user management"},{"name":"Comms","description":"Contact and communication"},{"name":"Auth","description":"Authorisation & Registration"}],"components":{"responses":{"Unauthorized":{"description":"Invalid or expired token, please login again.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}},"Forbidden":{"description":"You do not have access to the requested resource.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}},"NotFound":{"description":"The requested resource cannot be found.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}},"BadRequest":{"description":"The request contains malformed data in path, query parameters, or body.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}},"Error":{"description":"Something went wrong, please reload or go back and try again.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}},"Ok":{"description":"Ok","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}}}}}},"securitySchemes":{"jwt":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"ValidationErrorSchema":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}},"StandardResponseSchema":{"type":"object","additionalProperties":false,"required":["status","message"],"properties":{"status":{"type":"string"},"message":{"type":"string"},"stack":{"type":"string"},"code":{"type":"string"},"body":{"type":"object","additionalProperties":true},"validation":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"path":{"type":"string"},"message":{"type":"string"},"code":{"type":"string"},"data":{"type":"object","nullable":true}}}}}},"UserSchema":{"type":"object","required":["id","email","firstName","lastName","accountId","countryISO","phone","roles"],"properties":{"id":{"type":"string","nullable":false},"email":{"type":"string","nullable":false},"lastName":{"type":"string","nullable":false},"firstName":{"type":"string","nullable":false},"accountId":{"type":"string","nullable":false},"countryISO":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}},"roles":{"type":"array","items":{"type":"string","enum":["guest","user","admin"]},"nullable":false}}},"AccountSchema":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}},"UserSearchResultsSchema":{"type":"object","required":["docs","totalDocs","limit","offset","clearUrl","activeFilters","facets"],"properties":{"docs":{"type":"array","items":{"type":"object","required":["id","email","firstName","lastName","accountId","countryISO","phone","roles"],"properties":{"id":{"type":"string","nullable":false},"email":{"type":"string","nullable":false},"lastName":{"type":"string","nullable":false},"firstName":{"type":"string","nullable":false},"accountId":{"type":"string","nullable":false},"countryISO":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}},"roles":{"type":"array","items":{"type":"string","enum":["guest","user","admin"]},"nullable":false}}}},"custom":{"type":"object"},"totalDocs":{"description":"Total number of documents matching your query","type":"number"},"limit":{"type":"number","description":"Number of results to show per page"},"offset":{"type":"number","description":"Number of records to skip before get a page of records"},"clearUrl":{"type":"string","description":"URL to remove all filters from the search"},"activeFilters":{"type":"array","description":"Array of filters that have been applied to the query","items":{"type":"object","required":["name","displayName","clearUrl","terms"],"properties":{"name":{"description":"Name of the filter","type":"string"},"displayName":{"description":"Name of the filter","type":"string"},"clearUrl":{"description":"URL used to remove the filter from the query","type":"string"},"terms":{"description":"Array of terms that have been applied to this filter","type":"array","items":{"type":"object","required":["name","clearUrl","id","hits"],"properties":{"name":{"description":"Name of the term","type":"string"},"id":{"description":"Unique id of the term used to apply the term filter to the query","type":"string"},"hits":{"description":"Number of documents that will be returned if you apply this facet term to the query","type":"string"},"clearUrl":{"description":"URL used to remove this term from the filter and the query","type":"string"}}}}}}},"facets":{"type":"array","description":"Array of facets results that have been applied to the query, facilitated drilling into search results by terms of a given docoument field","items":{"type":"object","required":["displayName","clearUrl","disabled","name","selected","active","terms"],"properties":{"displayName":{"description":"User friendly name of the facet field","type":"string"},"clearUrl":{"description":"URL used to remove this term from the facet and the query","type":"string"},"disabled":{"description":"If true this facet has been applied to the query and cannot be edited except to use the clearUrl to remove this facet from the query","type":"boolean"},"name":{"description":"Name of the facet, must match the facet name in the URL","type":"string"},"selected":{"description":"If true indicates this facet has been applied to the query","type":"boolean"},"active":{"description":"If true this is the active facet, the active facet is the facet a user is currently choosing terms from for the results. It behaves differently to other facets in that the API will return all terms for this facet as if we had not yet applied the facet to the query, this is to support multiple selection of terms for each facet","type":"boolean"},"terms":{"description":"Array of terms that are available to apply to the query for the given facet","type":"array","items":{"type":"object","required":["name","url","hits","selected","id","state"],"properties":{"name":{"description":"Name of the term","type":"string"},"url":{"description":"URL used to add (if this terms is not currently included in the query) or to remove (if the term is currently applied to the query) this term from the facet","type":"string"},"hits":{"description":"Number of documents that will be returned if you apply this facet term to the query","type":"number"},"selected":{"description":"True if this facet term has been applied to the query","type":"boolean"},"id":{"description":"Unique id of the term used to apply the term filter to the query","type":"string"},"state":{"description":"String representation of the current state of the term","type":"string","enum":["checked disabled","checked","disabled",""]},"aggregations":{"type":"object","additionalProperties":{"type":"object","properties":{"sum":{"description":"If the aggregation was \"sum\" this is the sum of this field across the results","type":"number"},"min":{"description":"If the aggregation was \"min\" this is the lowest matching value of this field across the results","type":"number"},"max":{"description":"If the aggregation was \"max\" this is the highest matching value of this field across the results","type":"number"},"average":{"description":"If the aggregation was \"average\" this is the average of this field across the results","type":"number"}}}}}}}}}},"aggregations":{"type":"array","description":"Array of aggregations that have been applied to the query (sum of sold percentage across inventory records for example)","items":{"type":"object","properties":{"name":{"description":"Name of the field we have aggregated on","type":"string"},"sum":{"description":"If the aggregation was \"sum\" this is the sum of this field across the results","type":"number"},"min":{"description":"If the aggregation was \"min\" this is the lowest matching value of this field across the results","type":"number"},"max":{"description":"If the aggregation was \"max\" this is the highest matching value of this field across the results","type":"number"},"average":{"description":"If the aggregation was \"average\" this is the average of this field across the results","type":"number"},"count":{"description":"The number of documents used to calculate the aggregation","type":"number"},"range":{"description":"Used when we have a set of ranges we've aggregated on (Age range, price range etc)","type":"string"},"hits":{"description":"The number of documents used to calculate the aggregation","type":"number"},"unit":{"description":"The measurement unit or currency of the aggregated value","type":"string"}}}}}},"VerifyLoginSchema":{"type":"object","additionalProperties":false,"required":["tokens","user","account"],"nullable":false,"properties":{"tokens":{"type":"object","additionalProperties":false,"required":["access","expiresIn"],"nullable":false,"properties":{"access":{"type":"string","nullable":false},"expiresAtUTC":{"type":"string","nullable":false}}},"user":{"type":"object","required":["id","email","firstName","lastName","accountId","countryISO","phone","roles"],"properties":{"id":{"type":"string","nullable":false},"email":{"type":"string","nullable":false},"lastName":{"type":"string","nullable":false},"firstName":{"type":"string","nullable":false},"accountId":{"type":"string","nullable":false},"countryISO":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}},"roles":{"type":"array","items":{"type":"string","enum":["guest","user","admin"]},"nullable":false}}},"account":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}}}},"RegisterRequestSchema":{"type":"object","additionalProperties":false,"required":["firstName","lastName","email"],"nullable":false,"properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}}}},"ContactRequestSchema":{"type":"object","additionalProperties":false,"required":["name","email","interests","message"],"nullable":false,"properties":{"name":{"type":"string","nullable":false},"email":{"type":"string","format":"email","nullable":false},"interests":{"type":"array","items":{"type":"string","enum":["grapheneos","umbrelos","business","other"]},"minItems":1},"message":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}}}}}},"paths":{"/auth/login":{"post":{"operationId":"authLogin","summary":"Authenticate a user","description":"Sends a login token to users email","tags":["Auth"],"security":[{"jwt":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["email"],"nullable":false,"properties":{"email":{"type":"string","nullable":false}}}}}},"responses":{"200":{"$ref":"#/components/responses/Ok"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/Error"}}}},"/auth/register":{"post":{"operationId":"authRegister","summary":"Register a user","description":"Register a new user on the platform","tags":["Auth"],"security":[{"jwt":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["firstName","lastName","email"],"nullable":false,"properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}}}}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["tokens","user","account"],"nullable":false,"properties":{"tokens":{"type":"object","additionalProperties":false,"required":["access","expiresIn"],"nullable":false,"properties":{"access":{"type":"string","nullable":false},"expiresAtUTC":{"type":"string","nullable":false}}},"user":{"type":"object","required":["id","email","firstName","lastName","accountId","countryISO","phone","roles"],"properties":{"id":{"type":"string","nullable":false},"email":{"type":"string","nullable":false},"lastName":{"type":"string","nullable":false},"firstName":{"type":"string","nullable":false},"accountId":{"type":"string","nullable":false},"countryISO":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}},"roles":{"type":"array","items":{"type":"string","enum":["guest","user","admin"]},"nullable":false}}},"account":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/Error"}}}},"/auth/verify":{"post":{"operationId":"authVerify","summary":"Verify a user","description":"Verify a users auth token","tags":["Auth"],"security":[{"jwt":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["code"],"nullable":false,"properties":{"code":{"type":"string"}}}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["tokens","user","account"],"nullable":false,"properties":{"tokens":{"type":"object","additionalProperties":false,"required":["access","expiresIn"],"nullable":false,"properties":{"access":{"type":"string","nullable":false},"expiresAtUTC":{"type":"string","nullable":false}}},"user":{"type":"object","required":["id","email","firstName","lastName","accountId","countryISO","phone","roles"],"properties":{"id":{"type":"string","nullable":false},"email":{"type":"string","nullable":false},"lastName":{"type":"string","nullable":false},"firstName":{"type":"string","nullable":false},"accountId":{"type":"string","nullable":false},"countryISO":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}},"roles":{"type":"array","items":{"type":"string","enum":["guest","user","admin"]},"nullable":false}}},"account":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string"},"name":{"type":"string"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/Error"}}}},"/comms/contact":{"post":{"operationId":"commsContact","summary":"Submit a contact enquiry","tags":["Comms"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["name","email","interests","message"],"nullable":false,"properties":{"name":{"type":"string","nullable":false},"email":{"type":"string","format":"email","nullable":false},"interests":{"type":"array","items":{"type":"string","enum":["grapheneos","umbrelos","business","other"]},"minItems":1},"message":{"type":"string","nullable":false},"phone":{"type":"object","required":["countryCode","number"],"additionalProperties":false,"nullable":true,"properties":{"countryCode":{"type":"string","nullable":false},"number":{"type":"string","nullable":false}}}}}}}},"responses":{"200":{"$ref":"#/components/responses/Ok"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/Error"}}}}}}